

API_KEY_SECRET=

DEFAULT_DB_HOST=
DEFAULT_DB_PORT=
DEFAULT_DB_USER=
DEFAULT_DB_PASSWORD=
DEFAULT_DB_NAME=


FERNET_KEY_SECRET=



REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_DEVICE_ID=
REDDIT_SCOPE=
REDDIT_USER_AGENT=
